#images {
	margin:20px 0 0 50px;
	width:400px;
	float:left;
	z-index:900;
}

.name{
	width: 200px;
	line-height: 250%
	border:1px solid white;
	font-size: 20px;
	float: left;
	margin-top:40px;
	margin-left: -350px;

}
.picture{
	float: left;
	margin-top: 70px;
	margin-left: -350px;
	text-align: center;
	border-style: dashed;
	border-color: rgb(FEE134);
}
.menu{
	width:100%; height:40px;
	float:left;
	margin-top: -500px;
	margin-left: 80px;
}

.row{
	width:98%;
	margin:auto;
	padding:2px;
	border-top:1px solid #fff;
}

.hello{
	width:100%; height:40px;
	float:left;
	margin-top: -750px;
	margin-left: 350px;
}


.answer{
	font-size: 13px;
	padding:3px;
	color:#333;
	margin-left: 50px;

}

.birthbox input{

	width:50px; 
	text-align:right
}
.know input{
	width:400px; 
	text-align:left
}
.think input{
	width:365px; 
	text-align:left
}
.mind input{
	width:430px; 
	text-align:left
}

#contents h2{
	font-size:18px;
	text-indent: 10px;
	padding:1px;
	height:30px;
}
